* text=auto

*.ts text working-tree-encoding=UTF-8 eol=lf
*.tsx text working-tree-encoding=UTF-8 eol=lf
*.js text working-tree-encoding=UTF-8 eol=lf
*.jsx text working-tree-encoding=UTF-8 eol=lf
*.css text working-tree-encoding=UTF-8 eol=lf
*.html text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.py text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
